* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
}
.card-container {
    background-color: #fff;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px;
    border-radius: 10px;
    margin: 40px  auto;
}
.qr-code {
    width: 100%;
    max-width: 288px;
    border-radius: 10px;
}
h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;
    margin: 20px 0 10px;
}
p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: .5px;
}
p , a {
    color: hsl(218, 9%, 52%);
}
.attribution { 
    font-size: 11px; 
    margin-top: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}